<div class="p-t-50">
    <h4 class="font-italic m-t-0 m-b-20">Newsletter</h4>
    <form>
        <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter Email">
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-custom btn-sm">Submit</button>
        </div>
    </form>
</div>
