<div class="">
    <h4 class="font-italic m-t-0 m-b-20">Blog Search</h4>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-addon" id="basic-addon2"><i class="mdi mdi-magnify"></i></span>
    </div><!-- /input-group -->
</div>
  