<div class="p-t-50">
    <h4 class="font-italic m-t-0 m-b-20">Text Widget</h4>
  
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing
        condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna
        euismod in elementum purus molestie.
    </p>
  </div>