/* =============
   Error
============= */

.page-error {
  h1 {
    font-size: 72px;
  }
}


.contact-map {
  min-height: 440px;

  iframe {
    width: 100%;
    height: 420px;
  }
}
