/* ============
    Parallax
===============*/
.parallax {
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}