/* =============
   Pricing
============= */

.pricing-column {
  position: relative;
  margin-top: 40px;

  .inner-box {
    position: relative;
    max-width: 340px;
    margin: 0 auto;
    background-color: lighten($light, 0.8%);
    padding: 0 0 45px;
    border-radius: 5px;
    border: 2px solid darken($light, 3%);
  }

  .active-price {
    color: $white;
    background-color: $custom;
    border-color: $custom;

    .plan-title {
      color: darken($custom, 20%);
    }
    .plan-price, .plan-duration {
      color: $white;
    }
  }
}

.pricing-column .plan-header {
  position: relative;
  padding: 30px 20px 25px;
}

.pricing-column .plan-title {
  font-size: 13px;
  margin-bottom: 10px;
  color: $custom;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
}

.pricing-column .plan-price {
  font-size: 48px;
  margin-bottom: 10px;
  color: $dark;
}

.pricing-column .plan-duration {
  font-size: 13px;
  color: $muted;
}

.pricing-column .plan-stats {
  position: relative;
  padding: 30px 20px 15px;
  font-size: 15px;
}

.pricing-column .plan-stats li {
  margin-bottom: 15px;
  line-height: 24px;
}

