/* =============
   Tabs & Accordions
============= */

.tab-content {
  padding: 20px 0 0 0;
}

.nav-tabs > li > a {
  color: $dark;
  text-transform: uppercase;
  font-weight: 600;

  &:hover {
    background-color: rgba($muted, 0.1);
  }
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  color: $custom;
}

.tabs-bordered {
  border-bottom: 2px solid rgba($muted, 0.2) !important;
}

.tabs-bordered li a, .tabs-bordered li a:hover, .tabs-bordered li a:focus {
  border: 0 !important;
  background-color: $white !important;
  padding: 10px 20px !important;
}

.tabs-bordered li.active a, .tabs-bordered li.active a:hover, .tabs-bordered li.active a:focus {
  border-bottom: 2px solid $custom !important;
  margin-bottom: -1px;
  color: $custom;
}

/* Navpills */
.nav-pills > li > a {
  color: $dark;
  font-weight: 600;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  background-color: $custom;
}

.panel-group .panel .panel-heading a[data-toggle=collapse].collapsed:before {
  content: '\f067';
}

.panel-group .panel .panel-heading .accordion-toggle.collapsed:before {
  content: '\f067';
}

.panel-group .panel .panel-heading a[data-toggle=collapse] {
  display: block;
}

.panel-group .panel .panel-heading a[data-toggle=collapse]:before {
  content: '\f068';
  display: block;
  float: right;
  font-family: 'FontAwesome';
  font-size: 14px;
  text-align: right;
  width: 25px;
}

.panel-group .panel .panel-heading .accordion-toggle {
  display: block;
}

.panel-group .panel .panel-heading .accordion-toggle:before {
  content: '\f068';
  display: block;
  float: right;
  font-family: 'FontAwesome';
  font-size: 14px;
  text-align: right;
  width: 25px;
}

.panel-group .panel .panel-heading + .panel-collapse .panel-body {
  border-top: none;
}

.panel-group .panel-heading {
  padding: 14px 18px;
  background-color: transparent;

  .panel-title {
    font-size: 14px;
    font-weight: 700;
  }
}

.panel-group.panel-group-joined .panel + .panel {
  border-top: 1px solid #eeeeee;
  margin-top: 0;
}

.panel-group-joined .panel-group .panel + .panel {
  border-top: 1px solid #eeeeee;
  margin-top: 0;
}