
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Open+Sans:400,600,700|Crete+Round:400i');

// Custom Color
$custom:              #19b798;

$primary:             #425cbb;
$success:             #10c469;
$info:                #3db9dc;
$warning:             #f1b53d;
$danger:              #ff5d48;
$white:               #ffffff;
$black:               #000000;
$dark:                #28282e;
$pink:                #ff7aa3;
$purple:              #9261c6;
$light:               #f9f9f9;
$muted:               #7a7d84;

$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Montserrat', sans-serif;
$font-italic: 'Crete Round', serif;
