<% var last;
  page.posts.each(function(post, i) { %>
    <%- partial('article', { post: post, index: true }) %>
<% }); %>

<% if (page.posts.length){ %>
<div class="text-right">
    <ul class="pagination pagination-split">
        <%- c_paginator({
            prev_text: '<i class="mdi mdi-chevron-left"></i>',
            next_text: '<i class="mdi mdi-chevron-right"></i>'
        }) %>
    </ul>
</div>
<% } %>
