<section class="page-header-box section bg-img-2 parallax"  data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="title-box">
                    <h3 class="text-white m-b-0">About Us</h3>
                </div>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>

<section class="section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="text-center about-one-content">
                    <p class="text-muted est-text">EST .1995</p>
                    <h3 class="font-bold">A DIGITAL STUDIO CRAFTING BEAUTIFUL EXPERIENCES.</h3>
                    <p class="text-muted font-15">Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Proin gravida nibh vel velit auctor Aenean sollicitudin, adipisicing elit sed lorem quis bibendum auctor.</p>
                </div>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>


<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="text-center about-one-content">
                    <h3 class="font-bold">What We Do</h3>
                    <p class="text-muted font-15">Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Proin gravida nibh vel velit auctor Aenean sollicitudin, adipisicing elit sed lorem quis bibendum auctor.</p>
                </div>
            </div>
        </div> <!-- end row -->

        <div class="row">

            <div class="col-sm-4">
                <div class="features-box">
                    <div class="feature-icon m-0">
                        <i class="icon-mobile text-custom"></i>
                    </div>
                    <h5 class="text-uppercase font-bold">Strategy Solutions</h5>

                    <p class="text-muted">We put a lot of effort in design, as it’s the most important ingredient of
                        successful website.Sed ut perspiciatis unde omnis istet.</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="features-box">
                    <div class="feature-icon m-0">
                        <i class="icon-tools text-custom"></i>
                    </div>
                    <h5 class="text-uppercase font-bold">Dedicated Support</h5>

                    <p class="text-muted">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat.</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="features-box">
                    <div class="feature-icon m-0">
                        <i class="icon-lightbulb text-custom"></i>
                    </div>
                    <h5 class="text-uppercase font-bold">Digital Design</h5>

                    <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row">

            <div class="col-sm-4">
                <div class="features-box">
                    <div class="feature-icon m-0">
                        <i class="icon-clipboard text-custom"></i>
                    </div>
                    <h5 class="text-uppercase font-bold">Strategy Solutions</h5>

                    <p class="text-muted">We put a lot of effort in design, as it’s the most important ingredient of
                        successful website.Sed ut perspiciatis unde omnis istet.</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="features-box">
                    <div class="feature-icon m-0">
                        <i class="icon-strategy text-custom"></i>
                    </div>
                    <h5 class="text-uppercase font-bold">Dedicated Support</h5>

                    <p class="text-muted">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat.</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="features-box">
                    <div class="feature-icon m-0">
                        <i class="icon-globe text-custom"></i>
                    </div>
                    <h5 class="text-uppercase font-bold">Digital Design</h5>

                    <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
                </div>
            </div>
        </div> <!-- end row -->

    </div> <!-- end container -->
</section>


<section class="bg-img-2 section parallax" data-stellar-background-ratio="0.3">
    <div class="bg-overlay"></div>
    <div class="container">

        <div class="row text-center">
            <div class="col-sm-3 facts">
                <h1 class="text-white m-t-10"><span class="counter">6577</span> k</h1>
                <h4 class="text-white font-16 text-uppercase font-bold m-t-20">Lines Coded</h4>
            </div>
            <!-- /facts-1 -->
            <div class="col-sm-3 facts">
                <h1 class="text-white m-t-10"><span class="counter">7800</span> +</h1>
                <h4 class="text-white font-16 text-uppercase font-bold m-t-20">Working Hours</h4>
            </div>
            <!-- /facts-2 -->
            <div class="col-sm-3 facts">
                <h1 class="counter text-white m-t-10">399</h1>
                <h4 class="text-white font-16 text-uppercase font-bold m-t-20">No. Of Template</h4>
            </div>
            <!-- /facts-3 -->
            <div class="col-sm-3 facts">
                <h1 class="counter text-white m-t-10">9995</h1>
                <h4 class="text-white font-16 text-uppercase font-bold m-t-20">Photos</h4>
            </div>
            <!-- /facts-4 -->
        </div> <!-- end row -->

    </div>
    <!-- end of container-->
</section>



<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="text-center about-one-content">
                    <p class="text-muted est-text font-italic m-b-0">Our Team</p>
                    <h3 class="font-bold m-t-10">Behind People</h3>
                    <p class="text-muted font-15">Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
                        consequat ipsum, nec sagittis sem nibh id elit.</p>
                </div>
            </div>
        </div> <!-- end row -->

        <div class="row">

            <div class="col-sm-4">
                <div class="team-member-one-box">
                    <div class="team-member-one-img">
                        <img src="images/team/team_1.jpg" class="img-responsive" alt="member-image">
                    </div>
                    <div class="team-member-one-detail">
                        <p>Founder</p>
                        <h4>James Shepard</h4>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="team-member-one-box">
                    <div class="team-member-one-img">
                        <img src="images/team/team_2.jpg" class="img-responsive" alt="member-image">
                    </div>
                    <div class="team-member-one-detail">
                        <p>Director</p>
                        <h4>Brenda Roosevelt</h4>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="team-member-one-box">
                    <div class="team-member-one-img">
                        <img src="images/team/team_3.jpg" class="img-responsive" alt="member-image">
                    </div>
                    <div class="team-member-one-detail">
                        <p>Developer</p>
                        <h4>Stephen Hayes</h4>
                    </div>
                </div>
            </div>
        </div> <!-- end row -->

    </div> <!-- end container -->
</section>