<section class="page-header-box section bg-img-2 parallax"  data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="title-box">
                    <h3 class="text-white m-b-0">Classic Blog</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <%- partial('_partial/archive', { pagination: config.archive, index: true }) %>
            </div>

            <div class="col-sm-3 col-sm-offset-1">

                <div class="">
                    <h4 class="font-italic m-t-0 m-b-20">Blog Search</h4>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-addon" id="basic-addon2"><i class="mdi mdi-magnify"></i></span>
                    </div><!-- /input-group -->
                </div>

                <div class="p-t-50">
                    <h4 class="font-italic m-t-0 m-b-20">Categories</h4>

                    <ul class="categories-list list-unstyled">
                        <li><a href="#">Web Design <span class="label label-default m-l-5">48</span></a></li>
                        <li><a href="#">Featured Blog <span class="label label-default m-l-5">25</span></a></li>
                        <li><a href="#">Photography Idea <span class="label label-default m-l-5">32</span></a></li>
                        <li><a href="#">News and Events <span class="label label-default m-l-5">40</span></a></li>
                        <li><a href="#">Arts and Entertainment <span class="label label-default m-l-5">28</span></a></li>
                    </ul>
                </div>

                <div class="p-t-50">
                    <h4 class="font-italic m-t-0 m-b-20">Text Widget</h4>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing
                        condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna
                        euismod in elementum purus molestie.
                    </p>
                </div>

                <div class="p-t-50">
                    <h4 class="font-italic m-t-0 m-b-20">Latest Post</h4>

                    <ul class="list-unstyled widget-posts">
                        <li class="clearfix">
                            <a href=""><img src="images/blog/4.jpg" alt="" class="widget-posts-img"></a>
                            <div class="widget-posts-descr">
                                <a href="#" title="" class="font-600 text-overflow">Amazing photo illustration</a>
                                <div class="font-13 text-muted">22 May<span class="slash-divider"> - </span> John Doe</div>
                            </div>
                        </li>

                        <li class="clearfix">
                            <a href=""><img src="images/blog/2.jpg" alt="" class="widget-posts-img"></a>
                            <div class="widget-posts-descr">
                                <a href="#" title="" class="font-600 text-overflow">Beautiful Day With Friends</a>
                                <div class="font-13 text-muted">21 May<span class="slash-divider"> - </span> John Doe</div>
                            </div>
                        </li>

                        <li class="clearfix">
                            <a href=""><img src="images/blog/3.jpg" alt="" class="widget-posts-img"></a>
                            <div class="widget-posts-descr">
                                <a href="#" title="" class="font-600 text-overflow">Spies - illustration</a>
                                <div class="font-13 text-muted">17 Apr<span class="slash-divider"> - </span> John Doe</div>
                            </div>
                        </li>

                    </ul>
                </div>

                <div class="p-t-50">
                    <h4 class="font-italic m-t-0 m-b-20">Tags</h4>

                    <div class="tags">
                        <a href="">Design</a>
                        <a href="">Development</a>
                        <a href="">Minimal</a>
                        <a href="">Branding</a>
                        <a href="">Unique</a>
                        <a href="">Clean</a>
                        <a href="">UI &amp; UX</a>
                    </div>
                </div>


                <div class="p-t-50">
                    <h4 class="font-italic m-t-0 m-b-20">Newsletter</h4>
                    <form>
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter Email">
                        </div>
                        <div class="text-right">
                            <button type="submit" class="btn btn-custom btn-sm">Submit</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
        <!-- end row -->
    </div> <!-- end container -->
</section>
