<section class="page-header-box section bg-img-2 parallax"  data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="title-box">
                    <h3 class="text-white m-b-0">Contact Us</h3>
                </div>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>



<!-- content section -->
<section class="">
    <div class="container-fuild">
        <div class="row">
            <div class="col-md-12 contact-map map">
                <iframe id="map_canvas1" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.843821917424!2d144.956054!3d-37.817127!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4c2b349649%3A0xb6899234e561db11!2sEnvato!5e0!3m2!1sen!2sin!4v1427947693651"></iframe>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>


<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4 class="text-uppercase m-t-0 m-b-20">Get In Touch</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse condimentum porttitor
                    cursus. Duis nec nulla turpis. Nulla lacinia laoreet odio, non lacinia nisl malesuada vel.
                    Aenean malesuada fermentum bibendum.</p>

                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia
                    faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat
                    magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla luctus. Fusce id
                    mi diam, non ornare orci.</p>


                <div class="row">
                    <div class="col-md-6 m-t-30">
                        <h4 class="font-italic">Office One</h4>
                        <address>
                            795 Folsom Ave, Suite 600<br>
                            San Francisco, CA 94107<br>
                            <abbr title="Phone">P:</abbr> (123) 456-7890
                        </address>
                    </div>
                    <div class="col-md-6 m-t-30">
                        <h4 class="font-italic">Office Two</h4>
                        <address>
                            795 Folsom Ave, Suite 600<br>
                            San Francisco, CA 94107<br>
                            <abbr title="Phone">P:</abbr> (123) 456-7890
                        </address>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <form class="widget-contact-form" action="#" role="form" method="post" novalidate="novalidate">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="username">Name</label>
                            <input type="text" id="username" name="name" class="form-control" placeholder="Enter your Name">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="useremail">Email</label>
                            <input type="email" id="useremail" name="email" class="form-control" placeholder="Enter your Email">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label for="subject">Your Subject</label>
                            <input type="text" id="subject" name="subject" class="form-control" placeholder="Subject...">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="usermsg">Message</label>
                        <textarea name="message" rows="5" id="usermsg"
                                  class="form-control" placeholder="Enter your Message"></textarea>
                    </div>
                    <button class="btn btn-custom" type="submit" id="form-submit"><i class="fa fa-paper-plane"></i>&nbsp;Send message</button>
                </form>

            </div>
        </div>

    </div>
</section>

<section class="section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="text-center about-one-content">
                    <p class="text-muted est-text font-italic">Customize Work</p>
                    <h3 class="font-bold">Interested in work with us?</h3>
                    <p class="text-muted font-15">Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
                        consequat ipsum, nec sagittis sem nibh id elit. Proin gravida nibh vel velit auctor
                        Aenean sollicitudin, adipisicing elit sed lorem quis bibendum auctor.</p>
                    <button type="submit" class="btn btn-default m-t-20">Contact Now</button>
                </div>
            </div>
        </div>
    </div>
</section>
